# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Most popular libraries for Data Science
- Most common tools for Data Science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Seaborn
4. Tensorflow
5. Matplotlib

|Data Science Tools|
|------------------|
| ApacheStark |
| Tensorflow |
| Matlab |

### Below are a few examples of evaluating arithmetic expressions in Python ###

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

In [7]:
minutes = 200
result = minutes / 60
print('In hours:', result)

In hours: 3.3333333333333335

## Author ##

Sunbla Khan